.App {
  height: 100%;
  position: relative;
}

.SettingsButton {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  z-index: 1000;
  cursor: pointer;
  color: #fff;
  font-size: 1.4em;
  text-shadow: 0px 0px 1px #000, 0px 0px 2px rgba(0, 0, 0, .5), 0px 0px 3px rgba(0, 0, 0, .25);
}

.SettingsButton.fa-spin {
  animation: fa-spin 6s infinite linear;
}

.Settings h2 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
}

.ToggleContainer {
  display: inline-block;
  margin-bottom: 10px;
}

.Toggle {
  display: inline-block !important;
}

.Setting {
  text-align: center;
  padding: 0 10px;
}

.Setting p {
  margin-bottom: 0;
}

.ModalClose {
  position: absolute;
  top: 0;
  left:0;
  cursor: pointer;
  padding-left: -40px;
}

.WeatherMap {
  height: 100%;
}

.LocationIcon {
  background-color: #60A4F0;
  border-radius: 30px;
  -webkit-animation: dotPulse 2000ms 0ms infinite;
  border: 3px solid white;
}

@-webkit-keyframes dotPulse {
  0% {
    box-shadow: rgba(96, 164, 240, 1) 0px 0px 10px -50px;
    opacity: 100%;
  }
  100% {
    box-shadow: rgba(96, 164, 240, 0) 0px 0px 0px 35px;
    opacity: 0%;
  }
}
