.Overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 1000;
  text-align: center;
  font-family: 'Bevan', cursive;
  color: white;
}

.Overlay h1, .Overlay h2, .Overlay h3, .Overlay h4, .Overlay h5, .Overlay .Alerts {
  text-shadow: 0px 0px 1px #000, 0px 0px 2px rgba(0, 0, 0, .5), 0px 0px 3px rgba(0, 0, 0, .25);
}

.Overlay .Address {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  margin-bottom: 30px;
  font-size: 22px;
}
