.Weather {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  margin-top: 115px;
}

.Weather .Temperature {
  font-size: 100px;
  margin-bottom: 0;
}

.Weather .Summary {
  margin-top: 0;
  font-size: 30px;
}

.Weather .ForecastLink {
  pointer-events: all;
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
  color: #fff;
  transition: color 0.2s;
}

.Weather .ForecastLink:hover {
  color: #2EB6FF;
}

.Weather ul.Alerts {
  -webkit-padding-start: 0;
  list-style: none;
}

.Weather ul.Alerts li {
  color: #FA3F39;
  font-size: 1.3em;
  font-weight: lighter;
  transition: color 0.4s;
}

.Weather ul.Alerts li span.glyphicon {
  margin-right: 10px;
}

.Weather ul.Alerts li a {
  color: #FA3F39;
  pointer-events: all;
  text-decoration: none;
  transition: color 0.4s;
}

.Weather ul.Alerts li:hover {
  color: #FFA59F;
}

.Weather ul.Alerts li:hover a {
  color: #FFA59F;
}
